# Ignore the ijava-kernel directory
ijava-kernel/

# Ignore the myenv directory
myenv/
LinkedList/Linked List Interview .pdf
LinkedList/LL_Java.pdf
*.class
Binary_Search_Trees/output

Java Threads/Java Threads Introductions.ipynb
Java Collections/Introduction.ipynb
Question Sheet/Question.xlsx
